<form method="post" action="{{ path('price_delete', {'id': price.id}) }}" onsubmit="return confirm('Êtez-vous sûre de vouloir supprimer cette entrée ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ price.id) }}">
    <button class="trash"><i class="fas fa-trash"></i></button>
</form>
